name: "Label Issues (Script Injection)"
on:
  issues:
    types:
      - opened
jobs:
  assign-label:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - name: "Add a Label"
        env:
          MONGO_PASSWORD: "${{ secrets.MONGO_PASSWORD }}"
        run: |
          issue_title="${{ github.event.issue.title }}"
          if [[ "$issue_title" == *"bug"* ]]; then
            echo "Issue is about a bug!"
            echo "Assigning Label - BUG .... .. .... .. .... .."
          else
            echo "Not a bug"
          fi
